.thumbify-outer {
    overflow: hidden;
    position: relative;
}

.thumbify-stage {
    position: relative;
    overflow: hidden;
}

.thumbify-item{
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.thumbify-navigator {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    display: block;
}

.thumbify-navigator-step {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.thumbify-navigator-step.active{
    background-color: orange;
}